$PRIMARY_COLOR : rgb(243, 103, 126);

body {
    font-family: 'Roboto', sans-serif;

    h1 {
        text-align: center;
        color: $PRIMARY_COLOR;
        font-weight: 400;
    }
}

.valuefield {
    width: 75px;
}

.namefield {
    width: 115px;
}

.tablename {
    text-transform: uppercase;
}

.calc-footer {
    margin: 10px;
}

.tablecontainer {
    margin-top: 5px; 
}